{% extends "::base.html.twig" %}    

{% block title %}{{ user.username }}'s main page{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    {% include "FOSUserBundle:Profile:show_content.html.twig" %}
    {% if user.team is not null %}
        <p><a href="{{ path("app_team_show", {"id": user.team.id}) }}">{{ user.team.name }}</a></p>
    {% else %}
        <p>You aren't in any team yet</p>
    {% endif %}  
    {% if is_granted('ROLE_MANAGER') %}
       <p><a href="{{ path("app_team_new") }}">New Team</a></p>
       <p><a href="{{ path("app_task_new") }}">New Task</a></p>
    {% endif%}
{% endblock %}